!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title X3misere
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js', 'data-turbolinks-track' => true
